@model RecipentStore.Dto.BillCreateDto

@{
    ViewData["Title"] = "Dodawanie dokumentu";
}

<h1 class ="title">Dodawanie nowego dokumentu</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BillCreate" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Identyfikator dokumentu</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label">Data zakupu</label>
                <input asp-for="CreateDate" class="form-control" type="date"/>
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Cena zamówienia</label>
                <div class="form-group">
                    <input asp-for="Price" class="form-control" />
                    <span class="input-group-text">zł</span>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <input asp-for="FileUpload" class="form-control" type="file" accept="application/pdf, image/*" runat="server" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="BillTypeID" class="control-label">Typ dokumentu</label>
                <select asp-for="BillTypeID" class="form-control" asp-items="ViewBag.BillType"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShopID" class="control-label">Miejsce zakupu</label>
                <select asp-for="ShopID" class="form-control" asp-items="ViewBag.Shops"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />

                <a asp-action="BillView" class="btn btn-danger">Powrót </a>
            </div>
            
        </form>
       
    </div>
   
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
