@model RecipentStore.Dto.ShopCreateDto

@{
    ViewData["Title"] = "ShopCreate";
}

<h1 class="title">Dodawanie nowego sklepu</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShopCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopName" class="control-label"></label>
                <input asp-for="ShopName" class="form-control" />
                <span asp-validation-for="ShopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIP" class="control-label"></label>
                <input asp-for="NIP" class="form-control" />
                <span asp-validation-for="NIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />

                <a asp-action="ShopView" class="btn btn-danger">Powrót</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
